html {
	margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(135deg,#8019c6,#00aad4);
}

body > header {
	position: relative;
}

body > header::before,
body > header > h1 {
	background-clip: text;
	color: transparent;
	font-family: sans-serif;
	font-style: normal;
	font-weight: 900;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
  width: 100%;
}

body > header::before {
  background-image: linear-gradient(135deg,#400d63,#00556a 150%);
  content: "thawth.me";
  filter: blur(10px);
	font-size: 9.5vw;
  height: auto;
  left: 0;
  padding-top: 1rem;
  position: absolute;
  top: 0;
}

body > header > h1 {
	background-image: linear-gradient(135deg, #c280ef, #6ae1ff 150%);
	font-size: 10vw;
	position: relative;
}
