#profile {
	border-radius: 1rem;
	box-shadow: 0 5px 10px rgba(black, 0.5);
	margin-left: auto;
	margin-right: auto;
	padding: 0.5rem;
	width: 25rem;

	img {
		border-radius: 1rem;
		box-shadow: 0 2.5px 5px rgba(black, 0.25);
	}
}
